.cell {
  overflow: hidden;
  display: flex;
  padding: 10px;

  border-radius: 10px;
  border: 2px solid rgba(var(--color-background-alter), 1);

  &-height-1 {
    /* понятия не имею почему .37 */
    aspect-ratio: 2.37/1;
  }
  &-height-2 {
    aspect-ratio: 1/1;
  }
  &-height-3 {
    aspect-ratio: 1/3;
  }

  /* странные ширина и высота без установки этого */
  & > * {
    width: 100%;
    height: 100%;
  }

  &-grid {
    max-width: 800px;
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0 auto;
    list-style-type: none;

    display: grid;
    row-gap: 15px;
    column-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
