.input {
  border-radius: 5px;
  border: 2px solid black;
  padding: 7px 10px;
  font-weight: 700;
  outline-offset: 2px;

  &::placeholder {
    opacity: 0.5;
    font-weight: 700;
    font-size: 12px;
  }

  &:focus {
    position: relative;
  }

  &:focus::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    outline: 5px auto -webkit-focus-ring-color;
  }
}
