@use '../../breakpoints.module.scss';

.appContainer {
  display: flex;
  flex-direction: column;

  width: 600px;
  min-height: calc(100vh - 100px);
  margin: 50px auto;

  @media screen and (max-width: breakpoints.$breakpoint-tablet) {
    width: 80%;
  }

  &.loading {
    align-content: center;
  }
}
