$opacityList: (
  "transparent": 0,
  "low-opacity": 0.25,
  "medium-opacity": 0.5,
  "quarter-opacity": 0.75,
  "full-opacity": 1,
);
$sizes: (
  "xs": 0.25em,
  "s": 0.75em,
  "m": 1em,
  "x": 1.25em,
  "xl": 1.5em,
);

.button {
  transition: none !important;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  border-radius: 5px;

  font-size: 1em;
  font-weight: 700;

  color: var(--color-background-alter);
  background-color: var(--color-background-default);

  &Icon {
    opacity: 1;
  }

  &:hover {
    opacity: 1 !important;
  }
  &:active {
    opacity: 0.7 !important;
  }

  @each $size, $value in $sizes {
    $key: $size;
    &-size-#{$key} {
      font-size: #{$value};

      svg {
        transition: none !important;
        margin-left: 0.2em;
        font-size: calc(#{$value} + 0.75em);
      }
    }
  }
}
