.cell {
  &-group {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: grid;
    justify-content: center;
    column-gap: 1em;
    row-gap: 1em;
    grid-auto-rows: 10em;
    grid-auto-columns: 10em;
  }

  border-radius: 10px;
  // padding: 10px;
  // border: 2px solid rgba(var(--color-background-alter), 1);
  color: rgba(var(--color-background-default), 1);
  background-color: rgba(var(--color-background-alter), 1);
  overflow: hidden;
  // font-size: 12px;

  & > * {
    padding: 10px;
  }

  &-type {
    &-courses {
      li {
        p {
          margin: 5px 0;
        }
      }
    }

    &-bio {
      p {
        font-size: 0.84em;
        padding: 0 30px;
      }

      &-content {
        h3 {
          text-align: center;
          margin: 0;
        }
      }
    }

    &-github {
      background-color: #0d1117;
      height: calc(100% - 20px);

      h3 {
        text-align: center;
        color: #ffffff60;
        margin: 0;
      }

      & > div {
        display: flex;
        justify-content: space-between;

        span {
          color: rgba(var(--color-background-alter), 1);
          font-size: 14px;
        }
      }

      .image-component {
        margin: 5px 0;
      }
    }
  }
}
