@use "../../colors.module.scss";

.alert {
  &Component {
    display: flex;
    justify-content: center;
    overflow: hidden;

    padding: 10px 15px;
    // max-width: calc(100% - 30px);
  }

  &Stack {
    list-style-type: none;
    padding: 0;

    &WindowFixed {
      position: absolute;
    }

    & > li {
      div {
        position: unset;
      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &Content {
    color: #fff;
    font-weight: 200;
    text-align: center;
    font-size: 14px;

    &Scroll {
      @keyframes scrollText {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-25%);
        }
      }

      white-space: nowrap;
      display: inline-block;
      animation: scrollText 10s infinite linear;

      & > * {
        margin: 0 10px;
      }

      &:hover {
        animation-play-state: paused;
      }
    }
  }

  &Preset {
    &Notification {
      color: transparentize(colors.$color-notification, 0.3);
      background-color: colors.$color-notification;
    }

    &Warning {
      color: transparentize(colors.$color-warning, 0.3);
      background-color: colors.$color-warning;
    }

    &Interest {
      color: transparentize(colors.$color-interest, 0.3);
      background-color: colors.$color-interest;
    }

    &Success {
      color: transparentize(colors.$color-success, 0.3);
      background-color: colors.$color-success;
    }
  }

  &Header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: calc(100% - 20px);
    /* width: calc(100% - 20px - 20px); */
    height: auto;
    /* margin: 0 10px 10px 10px; mobile margins*/

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: 0px -2px 25px;
  }

  &WindowFixed,
  &Fixed {
    width: fit-content;
    height: auto;

    border-radius: 10px;

    box-shadow: 0px -2px 25px;

    /* margin: 10px; */
  }

  &WindowFixed {
    position: fixed;
  }
}
