@use "./resources/fonts/Inter/fontsInter";

$color-notification: #0057ff;
$color-warning: #ff0000;
$color-interest: #ffc700;
$color-success: #00ba29;

$colors: (
  "color-notification": #0057ff,
  "color-warning": #ff0000,
  "color-interest": #ffc700,
  "color-success": #00ba29,
);

body,
html,
* {
  font-family: "Inter";
  transition: all 100ms ease-in-out;

  @each $key, $value in $colors {
    --#{$key}: #{red($value), green($value), blue($value)};
  }
}

body,
html {
  background-color: var(--color-background-default);
  color: var(-color-background-alter);
}

html[data-theme="dark"] {
  --color-background-default: 0, 0, 0;
  --color-background-alter: 255, 255, 255;
}

html[data-theme="light"] {
  --color-background-default: 255, 255, 255;
  --color-background-alter: 0, 0, 0;
}

html[data-theme="hacker"] {
  --color-background-default: 0, 0, 0;
  --color-background-alter: 14, 168, 0;
}
