.hint {
  &Wrapper {
    overflow: hidden;
    word-break: break-word;
    width: 20vw;
    padding: 0 20px 20px 20px;
  }

  &Control {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .button {
      padding: 0;
    }
  }

  &Content {
    &Title {
      margin: 0;
      font-size: 15px;
    }

    &Description {
      font-size: 12px;
      display: flex;
      text-align: left;
      padding-bottom: 8px;
      border-bottom: 2px solid var(--color-background-alter);
    }
  }
}
